/*-------Fonts-----------
    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif;

    Boston Blue : rgb(78,140,167) or #4E8CA7;
------------------------*/

body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h4 {
  margin: 0;
  font-family: 'Roboto ', sans-serif;
  font-weight: 100;
}

h1  {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

a {
  transition: color .50s ease;
}

a:hover {
  color: #203A45;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.nav {
  padding-left: 20px;
}

.navbar,
.navbar-default {
  border: none;
  background-color: rgba(255,255,255,0.51);
}

.navbar-toggle {
  float: left;
  margin-left: 15px
}

.navbar-default .navbar-nav>li>a {
  transition: all .50s ease;
  transition-property: color , border-bottom;
  font-size: 19px;
  font-weight: 100;
  color: rgb(50,90,107);
}

.navbar-default .navbar-nav>li>a:hover {
  border-bottom: 1px solid  #203A45;
  color: #203A45;
}

.navbar-collapse {
  padding-left: 30px;
}

.header {
  margin-bottom: 200px;
  padding-top: 200px;
  width: 100%;
  height: 615px;
}

.contact-links .fa-4x {
  vertical-align: middle;
}


#logo {
  background-color: rgba(255, 255, 255, .93);
  border-radius: 5px;
  color: #4E8CA7;
  width: 350px;
  padding: 35px 0;
}

#logo button {
  background-color: white;
  border: 1px solid #4E8CA7;
  padding: 15px;
  border-radius: 6px;
  font-size: 19px;
  margin-top: 30px;
}

.social {
  padding: 35px 0 35px 0;
  color: #4E8CA7;
  margin: 0;
}

.social li {
  display: inline;
  padding: 20px
}

.social i {
  font-size: 30px;
}


/*---------------About Me-----------------*/

.about-me {
  
  padding: 125px 20px;
  background-color: rgba(78,140,167,0.75);
  font-size: 1.15em;
  color: white;
}

.about-me img {
  background: green;
  max-height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}

.about-me h2 {
  text-align: center;
}

#bio {
  padding: 20px;
}

.profile-pic {
    margin-top: 55px;
}

/*----------------What I Do -------------------*/

.what-i-do {
  text-align: center;
  margin-bottom: 100px;
  background-color: rgba(78,140,167,0.75);
  color: white ;
}

.what-i-do .wrapper {
  width: 85%;
  margin: 0 auto ;
}

.what-i-do h2 {
  color: white;
  margin: 100px 0 50px 0;
}

.what-i-do h3 {
  color: white;
  margin-bottom: 25px;
}

.what-i-do a {
  color: rgb(78,140,167);
}

.what-i-do section {
    width: 33.33333333%;
    float: left;
    padding-right: 20px;
}

#what-i-do > div:nth-child(1) > section:nth-child(5) {
  padding-right: 0;
}


#what-i-do > div > section > h3 {
    margin: 40px;  
    text-align: center;  
    font-size: 1.5em;
}

#whatido-text-columns {
  padding-bottom: 100px;
}

.i-do-text {
  text-align: left;
}

.icon {
  text-align: center;
  color: white;
}


/*---------------Portfolio-----------------*/

.portfolio {
  overflow: hidden;
  padding-bottom: 100px;
  background-color: white ;
}

.portfolio h2 {
  text-align: center;
  color: rgb(78,140,167);
  margin: 0 0 100px 0;

}

.container-fluid,
.project {
  padding: 0;
  overflow: hidden;
}

.row {
  margin: 0;
}

.project img {
  display: block;
  max-height: 300px;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.project-text {
    padding-top: 90px;
    z-index: 100;
    color: rgb(78,140,167);
    position: absolute;
    top: 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: opacity 0.75s ease-in-out;
}

.fade {
   opacity: 0;
   transition: opacity 0.75s ease-in-out;
   -moz-transition: opacity 0.75s ease-in-out;
   -webkit-transition: opacity 0.75s ease-in-out;
}

/*------------------------------------*/



/*---------------Contact Me-----------------*/

.contact {
  background: url("http://res.cloudinary.com/dck40m3wf/image/upload/v1455475485/Portfolio/tweed.png");
  padding: 100px 20px;
}

#contact-me > div:nth-child(1) > div:nth-child(1) {
  padding-left: 137px;
}

#contact-me h1 {
  font-size: 35px;
}

.contact-links li,
#contact-me h4 {
  color: white;
}

.comtact-links {
  padding-left: 30px;
}

.contact-links li {
  font-size: 1.25em;
  padding-bottom: 10px;
}

contact-me a {
  transform: color .75s;
}

#contact-me a:hover {
  color: rgb(78,140,167);
  text-decoration: none;
}

.contact-links i,
#contact-me h1 {
  color: rgb(78,140,167);
}

#have-chat {
  padding: 100px 30px 0 0;
}

/*---------------Footer-----------------*/

footer {
  text-align: center;
  color: white;
  
  background-color: rgba(78,140,167,0.75);
  padding: 75px 0;
}

#footer-links li {
  display: inline;
  padding: 0px 40px;
  border-right: 1px solid white;
}

#footer-links li:nth-child(4) {
  border-right: none;
}

.clearfix {
  clear: both;
}

/*---------------Media Queries-----------------*/

@media (min-width : 901px) {
  .what-i-do section {
    width: 33.33333333%;
    float: left;
  }

  #aboutme-image {
  display: inline;
  float: left;
  }

  #aboutme-image img {
  max-height: 190px;
  margin: 5px 0;
  }

  #aboutme-text {
  display: inline;
  float: right;
  width: 75%;
  }

  .fade:hover {
      opacity: 1;
  }
}

@media only screen and (max-width: 770px) {

  .project img,
  .project-text,
  .fade {
    transition: none;
  }

  .fade {
    opacity: 0;
  }

  .about-me img {
    display:block;
    margin: 0 auto;
    max-height: 200px;
  }

  .what-i-do {
    padding-right: 50px;
    padding-left: 50px;
  }

  .what-i-do h2 {
    margin: 70px 0;
  }

  .what-i-do section {
    width: 100%;
    padding-right: 0;
    padding-top: 25px;
  }

  .portfolio img {
    margin-top: 40px;
  }

  .portfolio h3 {
    padding-top: 10px;
  }

  .caption {
    padding: 0px 20px;
  }

  .caption p, .caption h3 {
    font-size: .85em;
}

  #bio p {
    font-size: 14px;
  }

  #contact-me > div:nth-child(1) > div:nth-child(1) {
    padding-left: 0px;
  }

  #contact-me h1 {
    font-size: 28px;
  }
  
  #have-chat {
    padding-top: 20px;
    text-align: center;
  }
  
  .contact-links {
    text-align: center;
    padding-top: 35px;
  }

  .contact-links li {
    font-size: 14px;
  }
  
  #footer-links li {
    padding: 0 15px;
  }
  
  
}

@media only screen and (max-width: 580px) { 

  .navbar-toggle {
    margin-left: 30px;
  }

  .header {
    padding-top: 100px;
    height: 310px;
  }

  #logo {
    width: 300px;
    padding: 20px 0;
  }

  #logo h1 {
    font-size: 30px;
  }

  #logo h4 {
    font-size: 18px;
  }

  .what-i-do {
    padding-right: 25px;
    padding-left: 25px;
  }

  .what-i-do h2 {
    margin-bottom: 10px;
  }

  .project img {
    margin-top: 0;
  }

  .project-text {
    padding-top: 0px;
    position: relative;
    display: block;
    margin-bottom: 20px;
  }

  .fade {
    opacity: 1;
  }

  .about-me img {
  max-height: 150px;
  }

  .icon {
    margin-top: 60px;
  }

  #have-chat {
    padding-right: 0;
  }

  #have-chat h4 {
    font-size: 22px;
  }

  .contact-links li {
    font-size: 12px;
  }

  .fa-3x {
    font-size: 2.5em;
  }
}

