body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h4 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #252525;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.navbar {
  background-color: rgba(255, 255, 255, .90)
}

.navbar-toggle {
  float: left;
  margin-left: 15px
}

.navbar-default .navbar-nav>li>a {
  font-weight: bold;
  color: #252525;
}

.header {
  margin: 0;
  padding-top: 200px;
  width: 100%;
  height: 615px;
  background: url("http://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg") repeat;
}

.contact-links .fa-4x {
  vertical-align: middle;
}


#logo {
  background-color: rgba(255, 255, 255, .93);
  border-radius: 5px;
  color: #252525;
  width: 350px;
  padding: 35px 0;
}

.social {
  padding-top: 35px;
  color: rgb(238, 135, 154);
}

.social li {
  display: inline;
  padding: 20px
}

/*---------------About Me-----------------*/

.about-me {
  
  padding: 125px 20px;
  background-color: rgba(232, 117, 136, .75);
  font-size: 1.15em;
}

.about-me img {
  background: green;
  max-height: 250px;
  border-radius: 50%;
  border: 7px solid #252525;
}

#bio {
  padding: 20px;
}

/*----------------What I Do -------------------*/

.what-i-do {
  text-align: center;
  margin-bottom: 100px;

}

.what-i-do h2 {
  margin: 100px 0;
}

.what-i-do section {
    width: 33.33333333%;
    float: left;
    padding-right: 20px;
}

#what-i-do > div:nth-child(1) > section:nth-child(5) {
  padding-right: 0;
}


#what-i-do > div > section > h3 {
    margin: 40px;  
    text-align: center;  
    font-size: 1.5em;
}

.i-do-text {
  text-align: left;
}

.icon {
  text-align: center;
  color: rgba(232, 117, 136, .75);
}


/*---------------Portfolio-----------------*/

.portfolio {
  text-align: center;
  overflow: hidden;
  margin-bottom: 100px;
}

.portfolio-example { 
  width: 46%;
  display: inline-block; 
  position: relative; 
  overflow: hidden; 
  margin: 0 15px 20px 15px;
  border-radius: 20px;
}

.portfolio-img {
  width: 100%;
  border-radius: 20px;
  border: 3px solid rgb(232, 117, 136);
  display: block;
  margin: 0 auto;
  padding: 0;
}

.portfolio .row {
  margin: 75px 20px
}

.portfolio h2 {
  margin: 100px 0;
}

.portfolio h3 {
  padding-top: 40px;
  color: rgb(232, 117, 136);
}

.portfolio .col-sm-6 {
  padding: 0;
}

.caption { 
  width: 100%; 
  padding: 10px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.caption p, .caption h3 { 
  font-size: .75em;
}

/*---------------Contact Me-----------------*/

.contact {
  background: url("http://res.cloudinary.com/dck40m3wf/image/upload/v1455475485/Portfolio/tweed.png");
  padding: 100px 20px;
}

#contact-me > div:nth-child(1) > div:nth-child(1) {
  padding-left: 137px;
}

.contact-links li,
#contact-me h4 {
  color: white;
}

.contact-links li {
  font-size: 1.25em;
}

.contact-links i,
#contact-me h1 {
  color: rgb(232, 117, 136);
}

#have-chat {
  padding-top: 75px
}

/*---------------Footer-----------------*/

footer {
  text-align: center;
  color: #252525;
  
  background: rgb(232, 117, 136);
  padding: 75px 0;
}

#footer-links li {
  display: inline;
  padding: 0px 40px;
  border-right: 1px solid #252525;
}

#footer-links li:nth-child(4) {
  border-right: none;
}

.clearfix {
  clear: both;
}

@media only screen and (max-width: 770px) {
  .about-me img {
    display:block;
    margin: 0 auto;
  }
  .portfolio img {
    max-width: 150px;
    margin-top: 170px;
  }
  
  #have-chat {
    padding-top: 20px;
  }
  
  .contact-links {
    padding-top: 35px;
  }
  
  #footer-links li {
    padding: 0 15px;
  }
  
  
}

@media (min-width : 901px) {
  .what-i-do section {
    width: 33.33333333%;
    float: left;
  }

  .caption { 
    position: absolute; 
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75); 
    color: white; 
    opacity: 0;
    bottom: 3px;
    padding: 4px 5px; 
    -webkit-transition: all 0.7s ease;
      -moz-transition:    all 0.7s ease;
      -o-transition:      all 0.7s ease;
      border-radius: 20px;
  }

  .portfolio-example:hover .caption {
    opacity: 1;
    left: 0;
    border-radius: 20px;
  }

  .caption h3 {
    padding-top: 170px;
  }

  #aboutme-image {
  display: inline;
  float: left;
  }

  #aboutme-image img {
  max-height: 190px;
  margin: 5px 0;
  }

  #aboutme-text {
  display: inline;
  float: right;
  width: 75%;
  }
}

